# Diretórios e arquivos gerados pelo Go
/bin/
/pkg/
/vendor/

# Arquivos de cache do Go
*.exe
*.dll
*.so
*.dylib
*.test
*.out

# Go workspace settings
go.work
go.work.sum

# Configurações locais
.env
.env.*

### Ferramentas de IDE ###
# VS Code
.vscode/
*.code-workspace

# IntelliJ IDEA
.idea
*.iws
*.iml
*.ipr

# NetBeans
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### Sistema Operacional ###
# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini
